body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('./mario-bg.jpg');
    background-size: cover;
}

#board{
    width: 540px;
    height: 540px;
    background-color: green;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-image: url("./soil.png");
    background-size: cover;
    border: 3px solid white;
    border-radius: 25px;
}

#board div{
    /* board = 540x540, divide into 3 x 3 tile --> 180 x 180 per div */
    width: 180px;
    height: 180px;
    background-image: url("./pipe.png");
    background-size: cover;

}

#board div img{
    /* All img tags inside the tile div tags */
    width: 100px;
    height: 100px;
    user-select: none;
    -moz-user-select:none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}